#sidebar {
    float: left;
    position: relative;
    width: 210px;
    padding: 5px;
}

#main-content {
    float: left;
    position: relative;
    width: 500px;
    padding: 15px;
    background-color: #BFA;
    border: 6px solid #003D09;
    margin-top: 8px;
}

#main-content h1 {
    font-size: 2.5em;
    font-family: arial;
    padding: 0px 15px 5px 15px;
    border-bottom: 2px solid #003D09;
}

.container {
    clear: both;
    height: auto;
    overflow: hidden;
    width: 100%;
}

body {
    background-color: #282;
}
