header {
    position: absolute;
    top:  0px;
    left: 0px;
    height: 20px;
    width:  100%;
    padding: 5px;
    background-color: white;
    border-bottom: 2px solid black;
}

header.clearnet4 {
    background-color: #DDD;
}
header.clearnet6 {
    background-color: #94CFE0;
}
header.hyperboria {
    background-color: #F5B53D;
}


#sidebar {
    float: left;
    position: relative;
    width: 210px;
    padding: 5px;
}

#sidebar .button {
    display: block;
    width: 180px;
    height: 1em;
    padding: 5px;
    margin: 4px;
    text-decoration: none;
    color: #003D09;
    background-color: #BFA;
    border: 2px solid #003D09;
}

#sidebar .button:hover {
    color: #002D09;
    background-color: white;
    border-color: #003D09;
}

#main-content {
    float: left;
    position: relative;
    width: 500px;
    padding: 15px;
    background-color: #BFA;
    border: 6px solid #003D09;
    margin-top: 8px;
}

#main-content h1 {
    font-size: 2.5em;
    font-family: arial;
    padding: 0px 15px 5px 15px;
    border-bottom: 2px solid #003D09;
}

.container {
    clear: both;
    height: auto;
    overflow: hidden;
    width: 100%;
}

.feature-box {
    border: 3px solid #CCC;
    padding: 3px;
    margin: 3px;
    background-color: white; /* Fallback settig for old browsers */
    background-color: rgba(255,255,255,0.9);
    font-size: 0.8em;
}

.feature-box h3 {
    color: #444;
    font-family: arial;
    font-size: 1.6em;
}

body {
    margin-top: 30px;
    background-color: #282;
}

footer {
    text-align: center;
}
