<h1> Roaming Initiative </h1>
<p>Roaming Initiative is a new, experimental company dedicated to universal consumer freedom and privacy, free access to Hyperboria (a community-run subset of the internet) and cheap access to the traditional clearnet through that. For now, you can read <a href="/blog/about/">more about this project</a> and how it works. When the system is more mature, you'll be able to sign up for competitively-priced internet in a way that supports internet freedom and <a href="http://projectmeshnet.org">Project Meshnet.</a></p>
<p>For regular updates on the progress of this project, check out the <a href="/blog">blog.</a></p>
<p>This site is available as open-source on <a href="http://github.com/campadrenalin/roaming-initiative-http">github.</a> So if you think it's ugly, contribute a fix, and it will likely be accepted as part of the site.</p>
